body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#00b2c2;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}
@media only screen and (min-device-height : 320px) {
    .mobile body {
        font-size: 0.9em; !important;
    }

    .circle {
        width: 2em !important;
        height: 2em !important;
    }
    .mblListItem {
        line-height: 25px !important;
        height: 25px !important;
        padding: 2px
    }
    .middleContent .mblRoundRectList {
        margin-bottom: 5px;
    }

    .mblListItem .mblListItemIcon {
        margin-top: 0px !important;
    }
}
@media only screen and (min-device-height : 480px) {
    .mobile body {
        font-size: 0.9em; !important;
    }

    .circle {
        width: 3em !important;
        height: 3em !important;
    }
    .mblListItem {
        line-height: 40px !important;
        height: 40px !important;
    }
}
@media only screen and (min-device-height : 640px) {
    .circle {
        width: 3em;
        height: 3em;
    }
    .mobile body {
        font-size: 1.1em;
    }
}
@media only screen and (min-device-height : 720px) {
    .mobile body {
        font-size: 1.2em;
    }
    .mblListItem {
        line-height: 55px !important;
        height: 55px !important;
    }
}
@media only screen and (min-device-height : 800px) {
    .circle {
        width: 5em;
        height: 5em;
    }
    .mblListItem {
        line-height: 60px !important;
        height: 60px !important;
    }
}
@media only screen and (min-device-height : 900px) {
    .circle {
        width: 6em !important;
        height: 6em !important;
    }
    .mblListItem {
        line-height: 64px !important;
        height: 64px !important;
    }
}

@media only screen and (min-device-width : 480px) {
    .mobile body {
        font-size: 1.4em; !important;
    }
}
@media only screen and (min-device-width : 640px) {
    .mobile body {
        font-size: 2em; !important;
    }
}

.mblBackground {
    background-color:#00B2C2;
}

.mblContentPane {
    background-color:#00B2C2;
}

.screen {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.loginScreen {
    display: table;
}
.loginScreen .loginPane {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.slideMenu {
    position: absolute;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: #9a9a9a;
    background: rgba(154, 154, 154, 0.6);
}

.slideMenu .topContent {
    display: block;
    min-height: 30%;
    position: absolute;
    top: 0;
    min-width: 80%;
    max-width: 80%;
    background-color:#00B2C2;
    z-index: 1000;
}
.slideMenu .topContent .emails{
    font-size: 1.1em;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    width: 94%;
    margin: 3%;
    color: white;
    border: none;
}
.slideMenu .topContent .emails option {
    color: black;
}
.slideMenu .topContent .circle {
    width: 60px;
    height: 60px;
    background: #038a96;
    -webkit-border-radius: 500px;
    border-radius: 500px;
    position: absolute;
    margin: 3%;
}
.slideMenu .middleContent {
    display: block;
    min-height: 30%;
    position: absolute;
    top: 30%;
    min-width: 80%;
    max-width: 80%;
    background-color: #ffffff;
}
.slideMenu .middleContent .centerListView {
    position: absolute;
    bottom: 0;
}
.transparent.mblRoundRectList {
    background-color: transparent;
    border-radius: 0px;
    border: none;
}
.transparent.mblRoundRectList .mblListItem:first-child,
.transparent.mblRoundRectList .mblEdgeToEdgeCategory:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.transparent.mblRoundRectList .mblListItem:last-child,
.transparent.mblRoundRectList .mblEdgeToEdgeCategory:last-child {
    border-bottom-width: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.mblListItem {
    color: black;
    font-size: 1.1em;
    background-color: transparent;
    border-bottom: none;
    line-height: 50px;
    height: 50px;
}
.transparent.mblRoundRectList .mblListItem .mblListItemLabel {
    text-transform: none;
}
.transparent.mblRoundRectList .mblListItem .mblListItemIcon {
    margin-top: 10px;
    margin-right: 15px;
}
.transparent.mblTextBox {
    display: block !important;
    background-color: transparent;
    border: none;
    font-size: 0.9em;
    font-family: Helvetica;
    text-transform: lowercase;
}
.dijitPopup.mblComboBoxMenuPopup {
    font-size: 0.9em;
    font-family: Helvetica;
    text-transform: lowercase;
}
.slideMenu .bottomContent {
    display: block;
    min-height: 40%;
    position: absolute;
    top: 60%;
    min-width: 80%;
    max-width: 80%;
    background-color: #ffffff;
}
.loginPane .title {
    font-size: 3em;
    color: #038b98;
}
.loginPane .inputsPane {
    margin-top: 8%;
}
input.loginInputs {
    border: 0;
    outline: 0;
    border-radius: 0;
    background: transparent;
    width: 75%;
    font-size: x-large;
    height: 10%;
}
input.loginInputs.invalid {
    border-bottom: 2px solid red !important;
}
input.loginInputs::-webkit-input-placeholder {
    text-overflow: ellipsis;
    font-size: 0.9em;
}

input.loginInputs.password {
    border-bottom: 2px solid #038b98;
    margin-top: 4%;
}
input.loginInputs.password::-webkit-input-placeholder {
    color: #038b98;
}

input.loginInputs.login {
    border-bottom: 2px solid #ffffff;
}
input.loginInputs.login::-webkit-input-placeholder {
    color: #ffffff;
}
.controlsPane {
    margin-top: 4%;
    width: 100%;
}
.controlsPane .loginButtons {
    font-size: large;
    color: #5e506b;
}
.loginButtons.signUp {
    position: absolute;
    left: 12.5%;
}
.loginButtons.signIn {
    position: absolute;
    right: 12.5%;
}
.fab {
    position:fixed;
    bottom:15px;
    right:15px;
    opacity:1;
    width: 3em;
    height: 3em;
    background: #008000;
    -webkit-border-radius: 500px;
    border-radius: 500px;
}

